*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 */
body{
    font-size: 13px;
    line-height: 1.7em;

    color: #7f8c8d;
}

h1,
h2,
h3,
h4,
h5,
h6,
label{
    color: #34495e;
}

.pure-img-responsive{
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 */
.l-box{
    padding: 1em;
}

.l-box-lrg{
    padding: 2em;

    border-bottom: 1px solid rgba(0,0,0,.1);
}

.is-center{
    text-align: center;
}



/*
 * -- MENU STYLES --
 */

.menu{
    padding: .5em;
    text-align: center;
    box-shadow: 0 2px 3px rgba(0,0,0, .50);
    background: #111;
}

.pure-menu-horizontal  {
    white-space: normal !important;
}

.pure-menu.pure-menu-fixed{
    z-index: 4;
    border-bottom: none;
}

.menu .pure-menu-heading{
    font-size: 120%;
    font-weight: 400;
    color: white;
}

.menu a{
    color: #90b0e2;
}

.menu li a:hover,
.menu li a:focus{
    color: #e3c492;
    border: none;
    background: none;
}


/*
 * -- header STYLES --
 */

.header-container{
    position: fixed !important;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 88%;
    background-image: url(../img/wall.jpg);
    background-position: center;    
    background-repeat: no-repeat;
    webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.header{
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 50%;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

.header-head{
    font-size: 20px;
    font-weight: bold;
    font-weight: 100;
    line-height: 1em;
    padding: 1em 1.6em;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
}

.header-subhead{
    letter-spacing: .05em;
    opacity: .8;
    color: white;
    margin: 0 0;
}

.header-avatar {
    border: solid 0.3em;
    border-radius: 75px;
    border-color: #fff;

}


/*
 * -- CONTENT STYLES --
  */
.content-wrapper{
    position: absolute;
    z-index: 2;
    top: 75%;
    width: 100%;
    min-height: 12%;
    background: white;
}

.content-head{
    font-weight: 400;
    margin: 2em 0 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.content-head-ribbon{
    color: white;
}

.content-subhead{
    color: #90b0e2;
}
.content-subhead i{
    margin-right: 7px;
}

.ribbon,
#rmenu {
    color: #aaa;
    background: #111;
}

#social-links a{
    color: #000;
    border: none;
    background: none;
}

#social-links ul li{
    display: inline;
}

.footer{
    background: #111;
}


.footer a,
.ribbon a,
#social-links a:focus,
#social-links a:hover,
#contenido a {
    text-decoration: none;
    color: #90b0e2;
}
.footer a:hover,
.footer a:focus,
.ribbon a:hover,
.ribbon a:focus,
#contenido a:hover,
#contenido a:focus {
    color: #e3c492;
    border: none;
    background: none;
}

#contenido {
    margin-top: 6.5rem;
}


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
  */
@media (min-width: 48em){
    body    {
        font-size: 16px;
    }
    .content    {
        padding: 1em;
    }

    .menu    {
        text-align: left;
    }
    .menu ul    {
        float: right;
    }

    .header    {
        width: 50%;
        height: 50%;
    }

    .header-head    {
        font-size: 250%;
    }


    .l-box-lrg    {
        border: none;
    }

    #contenido {
        margin-top: 3rem;
    }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 */
@media (min-width: 78em){
    .header-head    {
        font-size: 300%;
    }
}
