/*******************************
            Global
*******************************/
@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-weight: 400;
  src: local('Economica'), local('Economica-Regular'), url(http://fonts.gstatic.com/s/economica/v3/jObgDQiPUtmACAaaK3pMGz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  src: local('Rambla'), local('Rambla-Regular'), url(http://fonts.gstatic.com/s/rambla/v3/dIAmK-Y13jr_FKtWA2ZgzQ.woff) format('woff');
}

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Rambla";
  margin: 0px;
  padding: 0px;
  color: #000;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.ui.menu > .item,
.ui.menu > .right.menu > .item {
  font-size: 18px;
}

#header {
  border-bottom:3px solid #a1cf64;
}

#slider-img {
  padding: 120px 0 0;
  margin: auto;
}

.ui.header,
.ui.menu {
  font-family: "Economica";
  font-weight: normal !important;
}

a {
  color: #04B431;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #00BAFF;
}

.ui.grid > .row > .six.wide.column a {
  color: #fff;
}

.ui.grid > .row > .four.wide.column .subir {
  height:35px;
  line-height:30px;
  width:38px;
  text-align:center;
  display:inline-block;
  background:#1d1d1d;
  font-size:20px;
  color:#fff;
  }

.ui.grid > .row > .four.wide.column .subir:hover {
    background:#2b2b2b;
    text-decoration:none
  }

.menu .right.menu > .mobile.item {
  display: none;
}

.ui.grid.segment {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.ui.grid.segment.separador {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ui.grid.segment.slider {
  padding-top: 3.5rem;
  padding-bottom: 1rem;
}

.footer {
  font-size: 12px;
  font-weight: normal !important;
}

/*******************************
          JParallax
*******************************/
#jparallax {
  width: 100%;
  height: 590px;
}

.parallax-port {
  position: absolute;
  top:50px; bottom:10px; left:10px; right:10px;
  background: #222; overflow: hidden;
}
    
.parallax-layer {
  position: absolute;
}

/*******************************
          Slider
*******************************

.slider-todo {
    width: 100%;
    height: 650px;
    margin: 2% auto;
    position: relative;
    overflow: hidden;
    top: 0.1rem;
}

.slide, 
.slider-interior {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
} 
 
.slider-todo .item2, 
.slider-todo .item3 {
    display: none;
}

.item1 .slider-interior {
  background: #2E1515;
  
}

.item2 .slider-interior {
  background: #152E15;
  
}

.item3 .slider-interior {
  background: #15212f;
}

.slide {
  z-index: 1;
}

.slider-interior h1 {
  margin: 0;
  position: relative;
  color: #fff;
  font-size: 60px;
  text-align: center;
  line-height: normal;
  z-index: 100;
}

/*.slider-interior h3 {
  margin-top: 0;
  margin-left: 25px;
  position: relative;
  font-size: 30px;
  line-height: normal;
  z-index: 100;
} *

/* Custom navigation arrows *
.navegacion{
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -40px;
  height: 80px;
  display: block;
  z-index: 2000;
}
.navegacion label {
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 80px;
  display: block;
  line-height: 80px;
  font-size: 48px;
  color: rgba(255,255,255,.3);
  text-align: center;
  cursor: pointer;
  -webkit-transition: 1500ms;
  -moz-transition: 1500ms;
  -o-transition: 1500ms;
  -ms-transition: 1500ms;
  transition: 1500ms;
}
.navegacion label:hover {
  color: #fff;  
}
.navegacion label.navegacion-prev {
  left: 0;
}

.navegacion label.navegacion-next {
  right: 0;
}
*/

/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 768px) {
  .ui.grid.segment {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  /*rtl:ignore*/
  .menu .right.menu > .item {
    display: none;
  }
  /*rtl:ignore*/
  .menu .right.menu > .mobile.item {
    display: block;
  }

  .img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
  }

  .slider-todo {
    height: 645px;
  }

  .ui.grid > .row > .six.wide.column .info {
    font-size: 0.8em;
  }

  .ui.grid > .row > .four.wide.column .footer {
    font-size: 0.75em;
  }

  .ui.grid > .row > .six.wide.column .ui.header {
    font-size: 1.5em;
  }

  .ui.grid > .row > .four.wide.column .subir {
    height:25px;
    font-size: 0.9em;
    line-height:20px;
    width:25px;
    display:inline-block;
    background:#1d1d1d;
  }

  .ui.grid > .row > .four.wide.column .subir:hover {
    background:#2b2b2b;
  }

  .ui.grid.segment {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .slider-interior h1 { 
    font-size: 3rem;
  }
  
  /*.slider-interior h3 { 
    font-size: 1.7rem;
  }*/

  #slider-img {
    padding: 270px 0 0;
  }


}
